<h4 class="count-items" ng-if="foundItems.found.length">
  Items: {{foundItems.found.length}}
</h4>

<div ng-repeat="item in foundItems.found">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ item.short_name }} - {{ item.name }}</h3>
      <button 
        type="button" 
        class="btn btn-danger" 
        ng-click="foundItems.onRemove({index: $index});"
        >
        Don't want this one!
      </button>
    </div>
    <div class="panel-body">
      <p>{{ item.description }}</p>
    </div>
  </div>
</div>